/* .main_content_20230229.css new생성 */
.main * {
	box-sizing: border-box;
	font-family: 'Notokr';
	letter-spacing: -1.5px;
}

.main:after,
.main:before,
.slider:after,
.slider:before,
section:after,
section:before,
.row:after,
.row:before,
[class^="col-md-"]:after,
[class^="col-md-"]:before,
.wrap:after,
.wrap:before {
	content: '';
	display: table;
}

.main:after,
.slider:after,
section:after,
.row:after,
[class^="col-md-"]:after,
.wrap:after {
	clear: both
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
	min-height: 1%;
}

[class^="col-md-"] {
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
}

.col-md-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-md-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.offset-md-3 {
	margin-left: 25%;
}

.offset-md-4 {
	margin-left: 33.33333%;
}

.offset-md-6 {
	margin-left: 50%;
}

section[class^="section"] {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center
}

.more-arrow {
	display: inline-block;
	width: 18px;
	height: 15px;
	background: url('/images/user/main_new/more_arrow.png') no-repeat;
	text-indent: -99999px;
	z-index: 2;
}

.more-arrow:hover {
	background: url('/images/user/main_new/more_arrow_hover.png') no-repeat;
}

.icon-youtube {
	display: inline-block;
	width: 29px;
	height: 21px;
	background: url('/images/user/main_new/icon_youtube.png') no-repeat;
	text-indent: -99999px;
	margin-bottom: -2px;
}

.btn-icon-arrow {
	display: inline-block;
	width: 9px;
	height: 11px;
	background: url('/images/user/main_new/btn-icon-arrow.png') no-repeat;
	text-indent: -99999px;
	margin-left: 0.5rem;
}

.btn-icon-arrow-white {
	display: inline-block;
	width: 9px;
	height: 11px;
	background: url('/images/user/main_new/btn-icon-arrow-white.png') no-repeat;
	text-indent: -99999px;
	float: right;
	margin-top: 7px
}

.main-btn-arrow {
	display: inline-block;
	width: 17px;
	height: 14px;
	background: url('/images/user/main_new/main-btn-arrow.png') no-repeat;
}

.card {
	position: relative;
	z-index: 1;
	padding: 0 0.5rem;
}

.card .thumb {
	border-radius: 0.5rem;
	overflow: hidden;
	width: 100%;
	height: 170px;
	position: relative;
	margin-bottom: 0.5rem;
}

.card .thumb img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card .figcaption {
	font-size: 1rem;
	margin-bottom: 0.35rem;
	font-weight: 500;
	min-height: 2.5rem
}

.card .figcaption+.date {
	text-align: right
}

.section1 {
	max-height: 100vh
}

.section1>div {
	min-width: 100%;
	min-height: 100%;
}

.section1 .visual-header .figure {
	position: relative;
	min-height: 100vh;
}

.section1 .visual-header .figure:after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.section1 .visual-header .figure img {
	width: 100%;
	min-height: 100vh;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.section1 .visual-header .figure .wrap {
	position: absolute;
	left: 50%;
	top: calc(100% / 2);
	margin: 0 auto;
	transform: translateX(-50%);
	z-index: 1;
}

.section1 .visual-header .figure.down-img .wrap {
	top: calc(100% / 2)
}

.section1 .visual-header .figure.down-img .wrap .figcaption h1 {
	margin-bottom: 3rem
}

.section1 .visual-header .figure .figcaption {
	width: 100%;
	color: #fff;
	margin: 0 auto;
	line-height: 1.4;
	padding-left: 3.6vw;
	word-break: keep-all;
}

.section1 .visual-header .figure .figcaption h1 {
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.15;
	width: calc(100% / 1.6);
	letter-spacing: -0.25rem;
	word-spacing: -0.25rem;
	margin-bottom: 2rem;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.section1 .visual-header .figure .figcaption p {
	font-size: 1.1rem;
	width: calc(100% / 2.5);
	margin-bottom: 2.5rem;
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
	letter-spacing: -0.1rem;
}

.section1 .visual-header .figure .figcaption a.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: #fff;
	border-radius: 0.5rem;
	font-weight: 500;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}

.section1 .visual-header .figure.slide04 .wrap {
	top: calc(100% / 3);
}

.section1 .visual-header .figure.slide04 .wrap .figcaption {
	padding-left: 0;
}

.section1 .visual-header .figure.slide04 .wrap .figcaption h1 {
	margin-bottom: 2rem;
	text-align: center;
	width: auto;
}

.section1 .visual-header .figure.slide04 .wrap .figcaption p {
	width: auto;
	text-align: center;
	font-size: 1.2rem
}

.section1 .visual-header .slide06 .wrap {
	top: calc(100% / 3);
}

.section1 .visual-header .slide06 .figcaption {
	padding-left: 0;
	padding-right: 0;
}

.section1 .visual-header .slide06 .figcaption h1 {
	margin-bottom: 2rem;
	text-align: center;
	width: auto;
}

.section1 .visual-header .slide06 .figcaption p {
	width: auto;
	text-align: center;
	font-size: 1.5rem
}

.section1 .visual-header .slide06 .figcaption a.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: #fff;
	border-radius: 0.5rem;
	font-weight: 500;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
	font-size: 0.9rem;
}


.section1 .visual-pagination .swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.6);
	opacity: 0.6
}

.section1 .visual-pagination .swiper-pagination-bullet-active {
	background: rgba(255, 255, 255, 1);
	opacity: 1
}

.section1 .swiper-pagination {
	bottom: 2.2rem;
}

.section1 .scrolldown {
	display: block;
	position: absolute;
	width: 94px;
	height: 61px;
	background: url('/images/user/main_new/scrolldown.png') no-repeat;
	left: 50%;
	bottom: 5rem;
	transform: translateX(-50%);
	z-index: 100;
}

.section1 .visual-header [class^="swiper-button-"] {
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
	background-image: none
}

.section1 .visual-header [class^="swiper-button-"]:hover {
	color: #fff;
}

.section2 {
	padding: 8vh 0;
	padding-bottom: 0;
	position: relative;
	background-color: #f2f3f4;
}

.section2:after,
.section2:before {
	content: '';
	position: absolute;
	width: 586px;
	height: 116px;
	background: url('/images/user/main_new/main_btn_area_bg.png') no-repeat;
	top: 10rem;
	z-index: 0;
}

.section2:before {
	left: 1rem;
}

.section2:after {
	right: 1rem;
}

.section2 .wrap {
	position: relative;
	z-index: 1;
}

.section2 .visual-center {
	margin-top: 8vh;
	position: relative;
	z-index: 1;
	padding-bottom: 5rem;
	background: #fff;
}

.section2 .figure {
	display: block;
	width: 100%;
	position: relative;
	height: 590px;
	border-radius: 0;
	margin-bottom: 3rem;
}

.section2 .figure img {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
}

.section2 .figure .figcaption {
	display: block;
	position: absolute;
	height: 370px;
	width: calc(100% / 1.65);
	right: 0;
	bottom: -5rem;
	z-index: 0;
	color: #fff;
	line-height: 1.8;
	padding: 7rem 5.2rem;
	background-image: linear-gradient(125deg, rgba(46, 171, 113, 0.6), rgba(29, 111, 169, 0.6));
}

.section2 .visual-center .figcaption h5 {
	text-indent: -9999px;
	background: url('/images/user/main_new/visual_center_ment.png') no-repeat;
	display: block;
	height: 135px;
}

.section2 .btn {
	border: 1px solid transparent;
	color: #fff;
	padding: 5px;
	border-radius: 0.5rem;
	display: table;
	text-decoration: none;
	width: 100%;
	background-image: linear-gradient(to left, rgba(199, 199, 199, 1), rgba(153, 153, 153, 1));
}

.section2 .btn h5 {
	font-size: 1.65rem;
	font-weight: 500;
	line-height: 1.5;
}

.section2 .btn h5+p {
	font-size: 1.025rem
}

.section2 .btn.active,
.section2 .btn:hover {
	border-color: transparent;
	text-decoration: none;
	background: url('/images/user/main_new/main_btn_bg_hover.png') no-repeat center #216396;
	background-size: cover;
}

.section2 .btn.active h5,
.section2 .btn:hover h5 {
	color: #fff
}

.section2 .btn:hover h5+p:hover {
	color: #fff;
}

.section2 .btn .inbox {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	background: transparent;
	padding: 1rem;
	border-radius: 0.25rem;
	position: relative;
}

.section2 .btn .inbox .main-btn-arrow {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	right: 1.5rem;
}

.section3 {
	padding: 5rem 0 3rem;
	background: url('/images/user/main_new/newsroom_bg.png') no-repeat;
	background-size: cover;
	min-height: 100%;
}

.section3 .header {
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.8;
}

.section3 .header+.row {
	margin-top: 3rem;
	margin-bottom: 3rem
}

.section3 h4 {
	font-size: 1.75vmax;
	font-weight: 500;
}

.section3 h4+p {
	display: none;
}

.section3 h5 {
	position: relative;
	z-index: 1;
	padding: 0.5rem;
	font-size: 1.25rem;
	letter-spacing: 0;
	font-weight: 500;
}

.section3 .lh-news:after,
.section3 .lh-sns:after,
.section3 .lh-webzin:after {
	content: '';
	display: block;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 5px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	border-radius: 0.25rem;
}

.section3 .more-arrow {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
}

.section3 .lh-news,
.section3 .lh-sns,
.section3 .lh-webzin {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid #ddd;
	background: #fff;
	position: relative;
	height: 320px
}

.section3 .popup {
	border-radius: 0.5rem;
	border: 1px solid #ddd;
	background: #fff;
	position: relative;
	overflow: hidden;
	height: 100%;
}

.section3 .popup h5 {
	margin-top: 1rem;
	margin-left: 1rem;
	z-index: 0;
}

.section3 .popup .slide_box {
	margin: 0 auto;
	margin-top: 1rem;
}

.section3 .popup .control_box {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.section3 .popup .control_box>button.pop {
	text-indent: -99999px;
	background: url('/images/user/main_new/slider_control.png') no-repeat;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
}

.section3 .popup .control_box>button.pop.prev {
	background-position: 10px 8px;
}

.section3 .popup .control_box>button.pop.auto.play,
.section3 .popup .control_box>button.pop.auto.pause {
	background-position: -18px 8px;
}

.section3 .popup .control_box>button.pop.next {
	background-position: -47px 8px;
}

.section3 .popup .control_box button+button {
	margin-left: -1px;
}

.section3 .popup .control_box .popup_count {
	margin-right: 1rem;
}

.section3 .popup .control_box>button.pop:hover {
	text-indent: -99999px;
	background: url('/images/user/main_new/slider_control_hover.png') no-repeat;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
}

.section3 .popup .control_box>button.pop.prev:hover {
	background-position: 10px 8px;
}

.section3 .popup .control_box>button.pop.auto.play:hover,
.section3 .popup .control_box>button.pop.auto.pause:hover {
	background-position: -18px 8px;
}

.section3 .popup .control_box>button.pop.next:hover {
	background-position: -47px 8px;
}

.section3 [class^="lh-"]:hover {
	background-image: linear-gradient(125deg, rgba(46, 171, 113, 0.6), rgba(29, 111, 169, 0.6));
}

.section4 {
	padding: 8rem 0;
	background: url('/images/user/main_new/eventroom_bg.png') no-repeat;
	background-size: cover;
	max-height: 450px;
	color: #fff;
}

.section4 h5 {
	font-size: 1.25rem;
	font-weight: 500;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.section4 .lh-org,
.section4 .lh-call {
	height: 188px;
	width: 100%;
	background-size: cover;
	border-radius: 0.5rem;
	padding: 1.5rem;
	position: relative;
	overflow: hidden;
}

.section4 .lh-org:before,
.section4 .lh-call:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.5));
	left: 0;
	top: 0;
	z-index: 0;
}

.section4 .lh-org {
	background: url('/images/user/main_new/org_bg.jpg') no-repeat 50% center;
}

.section4 .lh-org *,
.lh-call * {
	position: relative;
	z-index: 1;
}

.section4 .lh-call {
	background: url('/images/user/main_new/call_bg.jpg') no-repeat 50% center;
}

.section4 .lh-org .btn-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 5rem;
}

.section4 .lh-org .btn-group a {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	min-width: 16rem
}

.section4 .lh-org .btn-group a:hover {
	background: #333;
}

.section4 .lh-call .call-number {
	font-size: 3.5vmax;
	line-height: 1.2;
	font-weight: 500;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.section4 .lh-call ul>li {
	position: relative;
	padding-left: 70px;
	letter-spacing: -1px;
}

.section4 .lh-call ul>li span {
	display: inline-block;
	width: 65px;
	position: absolute;
	left: 0;
	top: 0;
	letter-spacing: 0;
}

.section5 {
	padding: 1.5rem 0;
	background: #fff;
}

.section5 .family-link {
	position: relative;
}

.section5 .family-link [aria-live="polite"] {
	margin: 0 2rem;
}

.section5 .family-link .slick-prev,
.section5 .family-link .slick-next {
	position: absolute;
	text-indent: -9999px;
	background: url('/images/user/main_new/slik_slider_control.png') no-repeat;
	width: 15px;
	height: 22px;
	top: calc(100% / 2.6);
}

.section5 .family-link .slick-prev {
	background-position: 0 0;
	left: 0;
}

.section5 .family-link .slick-next {
	background-position: -24px 0;
	right: 0;
}

.section5 .family-link .slick-slide {
	padding: 0rem 0.75rem;
}

.section5 .family-link .cont_box {
	float: left;
}

.section5 .family-link .slick-slide a {
	font-size: 1.05rem;
	font-weight: 500;
}

.section5 .family-link .slick-slide a>img {
	width: 100%;
	max-width: 140px
}

@media (max-width:1200px) {
	.col-lg-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.br-lg {
		display: block;
	}

	.br-md {
		display: none;
	}

	.br-ms {
		display: none;
	}

	.br-sm {
		display: none;
	}

	.br-xs {
		display: none;
	}

	.section2 .col-md-3 {
		margin-bottom: 1rem;
	}

	.section2:after,
	.section2:before {
		top: 25rem;
	}

	.section2:before {
		left: 0;
	}

	.section2:after {
		right: 0;
	}

	.section2 .btn .inbox {
		vertical-align: top;
	}

	.section2 .btn .inbox .main-btn-arrow {
		top: 2rem;
	}

	.section3 .popup .slide_box .slick-list {
		margin: 2rem 0
	}

	.section3 .lh-news,
	.section3 .lh-sns,
	.section3 .lh-webzin {
		height: 350px
	}
}


@media (max-width:1199px) {
	.col-ms-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-ms-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-ms-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-ms-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.offset-ms-0 {
		margin-left: 0;
	}

	.br-lg {
		display: none;
	}

	.br-md {
		display: block;
	}

	.br-ms {
		display: none;
	}

	.br-sm {
		display: none;
	}

	.br-xs {
		display: none;
	}

	.section1 .visual-header .figure.down-img .wrap {
		top: calc(100% / 2.2)
	}

	.section2 .visual-center .figure {
		height: 320px;
	}

	.section2 .figure .figcaption {
		padding: 5rem;
		height: auto;
	}

	.section2 .btn .inbox {
		height: 120px;
		word-break: keep-all;
	}

	.section3 h4 {
		font-size: 2.5rem;
	}

	.section3 .lh-sns .card .thumb,
	.section3 .lh-webzin .card .thumb {
		min-height: 200px;
	}

	.section3 .lh-sns .card .thumb>img,
	.section3 .lh-webzin .card .thumb>img {
		object-fit: contain;
	}

	.section3 .lh-sns .card .thumb,
	.section3 .lh-webzin .card .thumb {
		min-height: 200px;
	}

	.section3 .lh-sns .card .thumb>img,
	.section3 .lh-webzin .card .thumb>img {
		object-fit: contain;
	}

}

@media (max-width:1023px) {
	.row {
		margin-top: 0;
		margin-bottom: 0;
	}

	.col-sm-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.offset-sm-0 {
		margin-left: 0;
	}

	.br-lg {
		display: none;
	}

	.br-md {
		display: none;
	}

	.br-ms {
		display: block;
	}

	.br-sm {
		display: none;
	}

	.br-xs {
		display: none;
	}

	.section1 .visual-header .figure .figcaption a.btn {
		padding: 0.25rem 0.75rem
	}

	.card .figcaption {
		font-size: 1.2rem;
	}

	.card .figcaption+p {
		font-size: 1.2rem;
	}

	.section1,
	.section1 .visual-header .figure {
		min-height: 50vh
	}

	.section1 .visual-header .figure img {
		min-height: 100%;
	}

	.section1 .visual-header .figure .wrap {
		top: calc(100% / 2.2);
	}

	.section1 .visual-header .figure .figcaption {
		padding-left: 7vmax;
		padding-right: 7vmax;
		word-break: keep-all;
	}

	.section1 .visual-header .figure .figcaption h1,
	.section1 .visual-header .figure .figcaption p {
		width: 100%;
		font-size: 2rem;
		margin-bottom: 1rem
	}

	.section1 .visual-header .figure .figcaption p {
		font-size: 1rem
	}

	.section1 .visual-header .figure.down-img .wrap {
		top: calc(100% / 2.2)
	}

	.section1 .visual-header .figure.down-img .wrap .figcaption h1 {
		margin-bottom: 3rem
	}

	.section1 .visual-header .scrolldown {
		display: none;
	}

	.section1 .swiper-pagination {
		bottom: 0.25rem
	}

	.section1 .visual-header .figure.slide06 .wrap {
		top: calc(100% / 3);
	}

	.section1 .visual-header .figure.slide06 .wrap .figcaption p {
		display: none !important
	}


	.section2:after,
	.section2:before {
		top: 22.7rem;
	}

	.section2:before {
		left: 0rem;
	}

	.section2:after {
		right: 0rem;
	}

	.section2 .visual-center {
		padding-bottom: 2rem;
	}

	.section2 .visual-center .figure {
		height: 220px;
	}

	.section2 .figure .figcaption {
		padding: 3rem 2rem;
		height: auto;
	}

	.section2 .visual-center .figcaption h5 {
		background-size: 100%;
	}

	.section2 .btn .inbox {
		height: 130px;
	}

	.section2 .btn .inbox .main-btn-arrow {
		top: auto;
		bottom: 1rem;
		right: auto;
		left: 50%;
		transform: translateX(-50%)
	}

	.section3 {
		background-size: cover;
		background-position: center center;
	}

	.section3 h4 {
		font-size: 3vmax;
	}

	.section3 h5 {
		font-size: 2.2vmax;
		margin-bottom: 0.5rem;
	}

	.section3 .header+.row {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.section3 .lh-news,
	.section3 .lh-webzin {
		margin-bottom: 1rem;
	}

	.section3 .lh-popup .slide_box a {
		text-align: center !important;
		margin-bottom: 1.5rem;
	}

	.section3 .lh-popup .popupzon>div {
		margin-bottom: 1.5rem;
	}

	.section4 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.section4 .lh-org .btn-group a {
		min-width: 7.5rem;
		padding: 0.5rem 0.75rem;
	}

	.section3 .lh-news {
		height: 320px
	}

}

@media (max-width:767px) {
	main .wrap {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.col-xs-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-xs-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xs-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-xs-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.offset-xs-0 {
		margin-left: 0;
	}

	.br-lg {
		display: none;
	}

	.br-md {
		display: none;
	}

	.br-ms {
		display: none;
	}

	.br-sm {
		display: block;
	}

	.br-xs {
		display: none;
	}

	.card {
		padding: 0;
	}

	.card .figcaption {
		font-size: 0.95rem;
		line-height: 1.3;
	}

	.card .figcaption+p {
		font-size: 0.9rem;
	}

	.section1 .visual-header .figure .figcaption a.btn {
		padding: 0.25rem 0.75rem
	}

	.section1 .visual-header .figure .wrap {
		top: calc(100% / 2.15);
		text-align: center;
		text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
	}

	.section1 .visual-header .figure .figcaption {
		padding-left: 5vmax;
		padding-right: 5vmax;
	}

	.section1 .visual-header .figure .figcaption p .block {
		display: none;
	}

	.section1 .visual-header .figure .figcaption p {
		font-size: 0.85rem;
	}

	.section1 .visual-header .figure .figcaption h1 {
		line-height: 1.25;
		letter-spacing: -1px;
		font-size: 1.3rem
	}

	.section1 .visual-header .figure.down-img .wrap {
		top: calc(100% / 2.25)
	}

	.section1 .visual-header .figure.down-img .wrap .figcaption h1 {
		margin-bottom: 3rem
	}

	.section1 .visual-header .figure.slide04 .wrap .figcaption {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.section1 .visual-header .figure.slide04 .wrap .figcaption h1 {
		margin-bottom: 1.5rem;
		text-align: center;
		width: auto;
	}

	.section1 .visual-header .figure.slide04 .wrap .figcaption p {
		width: auto;
		text-align: center;
		font-size: 1rem
	}



	.section2:before {
		top: 26.5rem;
	}

	.section2:after {
		display: none;
	}

	.section2 {
		padding-top: 4vh;
		padding-bottom: 0;
	}

	.section2 .col-md-3 {
		margin-bottom: 0.25rem;
	}

	.section2 .col-md-3:last-child {
		margin-bottom: 0;
	}

	.section2 .btn {
		display: table;
		width: 100%;
		margin-bottom: 0.5rem;
	}

	.section2 .btn .inbox {
		height: auto;
		width: 100%;
	}

	.section2 .btn h5 {
		font-size: 1.15rem;
	}

	.section2 .btn p {
		font-size: 14px;
	}

	.section2 .btn .inbox .main-btn-arrow {
		top: 1.5rem;
		bottom: auto;
		right: 1.5rem;
		left: auto;
		transform: translate(0 0)
	}

	.section2 .figure img {
		max-width: 100%;
		height: 100%;
		width: auto;
		object-fit: cover;
		left: 50%;
		transform: translateX(-50%)
	}

	.section2 .visual-center {
		padding-bottom: 1rem;
	}

	.section2 .visual-center .figcaption {
		width: calc(100% / 1.5);
		bottom: -3rem;
	}

	.section2 .visual-center .figcaption h5 {
		height: 50px;
	}

	.section3 {
		padding: 2rem 0;
	}

	.section3 .header p {
		font-size: 1rem;
	}

	.section3 .lh-popup img {
		width: 100%;
	}

	.section3 .lh-popup .popupzon>div {
		margin-bottom: 0rem;
	}

	.section3 .lh-news,
	.section3 .lh-sns,
	.section3 .lh-webzin {
		height: auto
	}

	.section3 .popup {
		height: auto;
		padding-bottom: 1rem
	}

	.section3 .popup .slide_box,
	.section3 .popup .slide_box .slick-list {
		margin: 0;
		padding: 0
	}

	.section4 .lh-org,
	.section4 .lh-call {
		height: auto;
		padding: 1rem;
	}

	.section4 .lh-org,
	.section4 .lh-org {
		margin-bottom: 1rem;
	}

	.section4 .lh-org .btn-group {
		padding-top: 3rem;
	}

	.section4 .lh-org .btn-group a {
		min-width: 9rem
	}
}

@media (max-width:410px) {
	.br-lg {
		display: none;
	}

	.br-md {
		display: none;
	}

	.br-ms {
		display: none;
	}

	.br-sm {
		display: none;
	}

	.br-xs {
		display: block;
	}

	.section1 .visual-header .figure.slide04 .wrap .figcaption h1 {
		margin-bottom: 1.25rem
	}

	.section1 .visual-header .figure.slide04 .wrap .figcaption p {
		font-size: 0.85rem
	}
}

@media only screen and (orientation:landscape) {

	.section1,
	.section1 .visual-header .figure {
		min-height: 100vh
	}
}